extends layout

block content
    h1=title
    ul
        each val in book_instance_list
            li
            a(href=val.url) #{val.book.title} : #{val.imprint} -
            if val.status == 'Available'
                //这里用点符号表示一个class = "text-success"
                span.text-success #{val.status}
            else if val.status == 'Maintenance'
                span.text-danger #{val.status}
            else
                span.text-warning #{val.status}
            if val.status != 'Available'
                span (Due : #{val.due_back_formatted})

        else
            li 书籍库中没有此副本